.bg-box {
  width: 800px;
  height: 500px;
  margin: 0 auto;
  background-color: #2e7d32; /* Зелений фон під усім */

  background-image:
    url("https://www.freeiconspng.com/uploads/lamp-png-0.png"),                  
    url("https://avatanplus.com/files/resources/mid/58eb07b830eab15b56162788.png"), 
    url("https://vignette.wikia.nocookie.net/mashaandthebear/images/e/e0/Ёжик.png/revision/latest?cb=20180209130328&path-prefix=ru"), 
    url("https://www.freeiconspng.com/uploads/grass-png-images-pictures-transparent-28.png"), 
    url("https://img2.goodfon.ru/wallpaper/big/0/5b/pole-zelen-trava-dom-derevya.jpg");        

  background-repeat:
    repeat-x,   
    repeat-y,   
    repeat-y,   
    repeat-x,   
    no-repeat;  

  background-position:
    top center,
    right center,
    left center,
    bottom center,
    center center;

  background-size:
    50px auto,    
    auto 50px,    
    auto 50px,   
    100% 100px,   
    60% auto;     
}
